body{
    background-color: rgb(38, 33, 33);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(164, 118, 32);
}

form{
    text-align: center;
    padding-top: 15%;
    border: 10;
}

button{
    background-color: gray;
    border: 20;
    border-radius: 10px;
    
}

.button-jogar{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(164, 118, 32);
}

.form{
    border: 50%;
}

a{
    text-decoration: none;
    color: rgb(38, 33, 33);
    font-size: large;
}